body,
div,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  line-height: 1;
}
html {
  -webkit-text-size-adjust: 100%;
}
html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
body {
  font-family: -apple-system-font, 'Helvetica Neue', 'PingFang SC',
    'Microsoft YaHei', sans-serif;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  color: #666;
}

a {
  text-decoration: none;
  color: #333;
}
:root {
  --indicator: rgb(237, 166, 231);
}
#ribbon {
  position: fixed;
  z-index: -1;
}
.content-container {
  margin-top: 100px;
}
.center {
  max-width: 720px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  height: 44px;
  line-height: 44px;
  align-items: center;
}
.header:before {
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="500"><rect x="0" width="39" height="100%" style="fill:#28a1d8"/><rect x="39" width="2" height="100%" style="fill:#248bc7"/><rect x="41" width="11" height="100%" style="fill:#1e3955"/><rect x="52" width="56" height="100%" style="fill:#2f5132"/><rect x="108" width="160" height="100%" style="fill:#416828"/><rect x="268" width="4" height="100%" style="fill:#7eaa29"/><rect x="272" width="11" height="100%" style="fill:#dcbd42"/><rect x="283" width="7" height="100%" style="fill:#dcad27"/><rect x="290" width="6" height="100%" style="fill:#e39a23"/><rect x="296" width="26" height="100%" style="fill:#cc554c"/><rect x="322" width="16" height="100%" style="fill:#ca473f"/><rect x="338" width="12" height="100%" style="fill:#a72834"/><rect x="350" width="62" height="100%" style="fill:#735675"/><rect x="412" width="61" height="100%" style="fill:#653e66"/><rect x="473" width="27" height="100%" style="fill:#3b315b"/></svg>');
  background-repeat: repeat-x;
  content: '';
  height: 3px;
}
.header a {
  color: #444;
  padding: 0 20px;
  font-family: sans-serif;
  border-right: 1px solid #eee;
}
.header a:hover {
  background: #fff4cc;
}
.logo {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.menu {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}
.menu a {
  font-size: 14px;
}
.social {
  display: flex;
  border-left: 1px solid #eee;
}
.social a {
  display: flex;
  align-items: center;
}
.social svg {
  width: 20px;
  height: 20px;
}

/* posts */
#posts {
  padding-bottom: 50px;
}
#posts h2 {
  color: #333;
  font-size: 28px;
}

.list {
  min-height: 500px;
}
.list li {
  margin-bottom: 70px;
}

.list li > a {
  display: inline-block;
  margin: 10px 0 20px 0;
  color: #333;
  font-size: 22px;
  line-height: 1.4;
}
.list li a:hover {
  background: #fff4cc;
}
.list li > div p {
  line-height: 1.8;
}

/* archives */
.year {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  padding-bottom: 20px;
  color: #999;
  margin: 40px 0 20px;
}
.entry {
  margin-bottom: 20px;
  font-size: 16px;
}
.entry a {
  color: #333;
}
.entry a:hover {
  text-decoration: underline;
  /* background: #fff4cc; */
}
.entry span {
  color: #999;
  float: right;
  font-size: 15px;
}
/* tags */
.tags-name {
  margin-bottom: 40px;
}
.tags-name span {
  border-bottom: 4px solid;
  display: inline-block;
  padding: 0 5px 10px 0;
}
.tags-list {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
}
.tags-item {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}
.tags-item-border {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 0px;
  width: 0;
  height: 0px;
  border-bottom: 2px solid;
  transition: 0.2s all linear;
}
.tags-item:hover .tags-item-border {
  width: 100%;
  transition-delay: 0.1s;
  /* z-index: -1; */
  left: 0;
}
.tags-item:hover ~ .tags-item .tags-item-border {
  left: 0;
}
/* pagination */
#pagination {
  text-align: center;
  margin-top: 50px;
}
#pagination > div {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  display: inline-block;
  background: #fff;
}
#pagination div > a {
  display: inline-block;
  width: 60px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  color: #333;
  vertical-align: middle;
  padding: 0 12px;
}
#pagination span {
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 0px;
}
#pagination a[rel='next'] {
  border-left: 1px solid #ddd;
}
#pagination span a {
  /* width: 11px; */
  font-size: 16px;
  display: inline-block;
  border-left: 1px solid #ddd;
  padding: 0 12px;
}
#pagination a.current,
#pagination a.disabled {
  color: #999;
}
#pagination i {
  width: 11px;
  border-left: 1px solid #ddd;
  display: inline-block;
  font-style: normal;
  padding: 0 10px;
}
#pagination a:hover {
  background: #fff4cc;
}
#pagination a.current:hover,
#pagination a.disabled:hover {
  background: #fff;
}

/* footer */
.footer {
  margin-top: 70px;
  text-align: center;
}
.footer .center {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  border-top: 1px solid #eee;
  padding: 50px 0;
}
.footer a {
  text-decoration: underline;
  color: #666;
}

/* post */
#post {
  /* display: flex; */
}
#post.flex {
  display: flex;
}
.post-content {
  width: 100%;
}
.post-content .tags-item {
  font-size: 13px;
  padding: 2px 5px;
  margin-right: 10px;
  border-bottom: none;
}
.post-content .tags-item:hover {
  text-decoration: underline;
}
.post-content .tags-item:after {
  display: none;
}
.title {
  color: #222;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 20px;
  padding-bottom: 15px;
}
.time {
  color: #999;
  font-size: 14px;
  display: block;
}
.comments {
  margin: 70px 0 0;
}

/* article content */
.content {
  color: #333;
  margin-top: 40px;
  word-break: break-all;
}
.content p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 16px;
}
.content p:first-child {
  margin-top: 20px;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  font-weight: 500;
  margin-bottom: 14px;
  margin-top: 20px;
  color: #222;
  line-height: 1.4;
}
.content h5 {
  font-size: 16px;
}
.content h4 {
  font-size: 18px;
}
.content h3 {
  font-size: 20px;
}
.content h2 {
  font-size: 22px;
  padding-bottom: 6px;
}
.content h1 {
  font-size: 24px;
  padding-bottom: 12px;
}
.content blockquote {
  margin: 0 0 16px;
  padding: 10px 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5;
}
.content blockquote p {
  margin: 0 !important;
}
.content a {
  border-bottom: 1px dotted #c7c7c7;
}
.content hr {
  border: none;
  text-align: center;
  margin: 36px 0;
}
.content hr:after {
  content: '· · ·';
  font-size: 20px;
  color: #999;
}
.content ul,
.content ol {
  margin: 10px 0;
  list-style: none;
  padding-left: 0;
}
.content li {
  margin-top: 4px;
  padding-left: 20px;
  line-height: 1.6;
}
.content ol > li {
  counter-increment: counter;
}
.content ul li:before {
  margin: 10px 10px 0 0;
  content: '';
  background: #333;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  float: left;
}
.content ol > li:before {
  content: counter(counter);
  float: left;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-right: 10px;
  padding-right: 6px;
  background: linear-gradient(#666, #666);
  background-size: 3px 3px;
  background-position: right 15px;
  background-repeat: no-repeat;
}
.content li p {
  line-height: 1.6;
}
.content img {
  max-width: 100%;
}
/* .content code {
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  padding: 1px 5px;
  border-radius: 1px;
} */

table {
  line-height: 1.5;
  margin-bottom: 10px;
  padding: 0;
  border-collapse: collapse;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

/* toc */
.toc {
  font-size: 13px;
  flex-shrink: 0;
  width: 235px;
  margin-left: -235px;
  padding-right: 35px;
}
.stay {
  position: relative;
  width: 235px;
}
.stay .toc-icon {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 6px solid #40a9ff;
  border-left: 6px solid transparent;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  top: 7px;
  left: -4px;
}
.toc .stay.fixed {
  position: fixed;
  top: 20px;
}
.toc ul {
  padding-left: 10px;
}
.toc li {
  line-height: 1.5;
  overflow: hidden;
}
.toc a {
  display: block;
  color: rgba(0, 0, 0, 0.55);
  transition: color 0.1s ease;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.toc a:hover {
  color: #40a9ff;
}
.toc a.active {
  color: #40a9ff;
}

/* md-container */
.custom-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
.custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}
.custom-block .tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}
.custom-block .warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}
.custom-block.warning .custom-block-title {
  color: #b29400;
}
.custom-block .error {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}
.custom-block.error .custom-block-title {
  color: #900;
}

@media screen and (max-width: 760px) {
  #ribbon {
    display: none;
  }
  .toc {
    display: none;
  }
  .header {
    height: 40px;
    line-height: 40px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
  }
  .main {
    padding-top: 40px;
  }
  .header a {
    font-size: 14px;
    padding: 0 12px;
  }
  .logo {
    font-size: 18px !important;
  }
  .center {
    width: 85%;
  }
  .social {
    display: none;
  }
  .list li {
    margin-bottom: 20px;
  }
  .list li > a {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .list li > div p {
    font-size: 14px;
  }
  .footer {
    margin-top: 50px;
  }
  .footer .center {
    padding: 30px 0;
    font-size: 13px;
  }
  #posts {
    margin-top: 0;
  }
  #posts h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  .year {
    font-size: 16px;
  }
  #pagination {
    margin-top: 0;
    font-size: 14px;
  }
  #pagination span {
    width: 0;
    overflow: hidden;
  }
  .entry a {
    display: block;
    /* margin-bottom: 10px; */
    line-height: 1.6;
  }
  .entry span {
    float: none;
    font-size: 13px;
  }
  .title {
    font-size: 24px;
  }
  .content {
    margin-top: 20px;
  }
  .content-container {
    margin-top: 50px;
  }
  .post-content code {
    font-size: 12px;
  }
  .content {
    font-size: 14px;
  }
  .tags-list {
    width: 100%;
  }
  .tags-item {
    font-size: 18px;
  }
}
/* 指示器 */
.indicator {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(
      to right top,
      var(--indicator) 50%,
      transparent 50%
    )
    no-repeat -10px 0;
  background-size: calc(100% + 20px) calc(100% - 100vh + 5px);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: darken;
}
.indicator::after {
  content: '';
  position: fixed;
  top: 5px;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
